/* banner */
.g-banner{
    height: 250px;
    background-image: url(../../res/banner4.jpg);
    background-size: 100% 100%;
}

/* 主体 */
.g-body{
    width: 750px;
    margin: 0 auto;
    background: #efefef;
}

/* 个人信息 */
.g-profile{
    height: 216px;
    background-color: #fff;
    margin-top: -115px;
    text-align: center;
    border-bottom: 2px solid #c5c6c6;
    padding-top: 27px;
}

.g-profile .u-info{
    margin: 12px 0;
    line-height: 12px;
    font-size: 12px;
}


/* 作品 */
.g-main{
    position: relative;
    height: 600px;
    background-color: #fff;
}
.g-main .g-wrap{
    width: 650px;
    margin: 0 auto;
}

.g-main .g-wrap .m-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}


.g-main .g-wrap .list-loaded{
    display: inline-block;
}
.g-main .m-works{
    display: flex;
    flex-wrap: wrap;
    margin-right: -25px;
}

.g-main .item{
    position: relative;
    width: 110px;
    height: 166px;
    box-sizing: border-box;
    border: 1px solid #d3d4d4;
    background-color: #fff;
    margin-right: 25px;
    margin-bottom: 10px;
}

.g-main .item a{
    display: block;
    width: 110px;
    height: 166px;
}
.g-main .item a:before{
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: -4px;
    left:-4px;
    border: 1px solid #d7d7d7;
    background-color: #c5c6c6;
    content: "";
}
.g-main .item h3{
    position: absolute;
    right: 6px;
    bottom: -6px;
    left: -6px;
    height: 30px;
    line-height: 30px;
    background-color: rgba(255,255,255,.8);
    text-align: center;
}
.g-main .item img{
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: -7px;
    left: -7px;
    width: 110px;
    height: 166px;
    box-sizing: border-box;
    border: 1px solid #d7d7d7;
    border-top: none;
    border-right: none;
}

.g-main .item .icons{
    position: absolute;
    top:6px;
    right: 0;
    width: 46px;
    height: 18px;
    z-index: 999;
}

.g-main .item .icons .u-icon{
    display: inline-block;
    
    height: 18px;
    cursor: pointer;
}
.g-main .item .u-icon-edit{
    background: url(../../res/icon.png) no-repeat -337px -70px;
}
.g-main .item .u-icon-delete{
    background: url(../../res/icon.png) no-repeat -337px -97px;
}

/* 边栏 */
.m-aside{
    width: 100px;
    height: 276px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: -100px;
}

.m-aside li{
    width: 101px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    color: #5eccb6;
    background: #fdfdfd;
}
.m-aside  li.z-active{
    color: #fdfdfd;
    background: #5eccb6;
}
.m-aside li.msg{
    position: relative;
}
.m-aside li.msg::before{
    content: " ";
    position: absolute;
    top:5px;
    right:8px;
    z-index: 100;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #e55f48;
}

/* modal */
.m-modal .modal-list{
    width: 408px;
    box-sizing: border-box;
}

.modal-list .modal_head{
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    font-weight: 600;
    color: #5eccb6;
    border-bottom:1px solid #d3d4d4;
}

.modal-list .u-close{
    position: absolute;
    top: 0;right: 5px;
    font-size: 16px;
    font-weight: 300px;
    color: #c0c0c1;
    cursor: pointer;
}

.modal-list .u-content{
    margin-top: 21px;
    text-align: center;
    font-size: 14px;
}

.modal-list .u-content input{
    box-sizing: border-box;
    width: 200px;
    height: 30px;
    border: 2px solid #5ed0ba;
    border-radius: 4px;
}
.modal-list .u-content .del-item-name{
    color: #5eccb6;
}
.modal-list .u-buttons{
    height: 40px;
    padding: 20px 0;
    text-align: center;
}

.modal-list .u-buttons button+button{
    margin-left: 18px;
}

/* 分页器 */
.m-pagination{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.m-pagination li{
    float: left;
    padding: 0 14px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    cursor: pointer;
    color: #5eccb6;
}

.m-pagination .disabled{
    cursor:not-allowed;
    color: #ccc;
}

.m-pagination .active{
    background: url(../../res/pagination_active.png) no-repeat 50% 50%;
    color: #fff
}