/* 顶栏 */
.g-header{
    height: 90px;
    background-color: #fff;
}

.g-header .m-header{
    width: 1080px;
    position: relative;
    margin: 0 auto;
}

.g-header .u-logo .logo{
    display: inline-block;
    height: 90px;
    width: 216px;
    background: url(../res/icon.png) no-repeat 0 0;
    border:0 none;
}

/* tabs */
.g-header .m-tabs{
    position: absolute;
    left: 260px;
    top: 50%;transform: translateY(-50%);
}

.m-tabs ul>li{
    float: left;
    padding: 13px 20px;
    font-size: 14px;
    cursor: pointer;
}

.m-tabs ul>li a{
    color: #bbb;
}

.m-tabs .z-active a{
    color: #5ed0ba;
}

/* 滑动条 */
.m-tabs .tabs_track{
    position:absolute;
    bottom:0;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background: #dcdddd;
}

.m-tabs .tabs_thumb{
    position: absolute;
    height: 4px;
    border-radius: 2px;
    background: #5ed0ba;
    transition: ease 0.1s;
}


/* 搜索框 */
.g-header #search{
    position: absolute;
    left: 607px;
    top: 50%;transform: translateY(-50%);
    box-sizing: border-box;
    width: 200px;
    height: 40px;
    border: 2px solid #5ed0ba;
    border-radius: 4px;
}

#search #keyword{
    height: 36px;
    width: 170px;
    margin-left: 10px;
    line-height: 36px;
    border: 0;
}

#search .icon-btn{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: 10px;
    width: 20px;
    height: 20px;
    background: url(../res/icon.png) no-repeat 0 -115px;
}

/* guest */
.g-header .m-guest{
    position: absolute;
    left: 835px;
    top: 50%;transform: translateY(-50%);
    height: 40px;
    vertical-align: middle;
}

.m-guest .u-btn-icon{
    background:url(../res/icon.png) no-repeat -1px -163px;
}

/* 用户信息 */
.g-header .m-user{
    position: absolute;
    left: 835px;top: 0;
    width: 190px;
}

.m-user .user_info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: 90px;
}


.user_info .user_avatar{
    width: 50px;
    height: 50px;
}

.user_info .user_name{
    max-width: 64px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 700;
}

.user_info .sex{
    width: 12px;
    height: 20px;
    background: url(../res/icon.png) no-repeat 0 -920px;
    margin-left: 10px;
}

.user_info .down{
    width: 18px;
    height: 12px;
    background: url(../res/icon.png) no-repeat 0 -948px;
    margin-left: 10px;
}

.m-user .user_list{
    position: absolute;top:0;
    display:none;
    z-index: 100;
    width: 100%;
    padding: 89px 0 0 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    
}

.m-user:hover .user_list{
    display: block;
}

.user_list li{
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    background: #fff;
}

.m-user li:hover{
    background-color: #eee;
}

/* 登录框 */
.m-modal .modal_login{
    width: 408px;
    padding: 30px;
    box-sizing: border-box;
}

.m-modal .m-form-1 ::placeholder{
    color: #7ad7c4;
}

.modal_login .u-close{
    position: absolute;
    top: 5px;right: 5px;
    font-size: 16px;
    font-weight: 300px;
    color: #c0c0c1;
    cursor: pointer;
}

.modal_login .modal_tt{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.modal_login .modal_tt strong{
    font-size: 20px;
    color: #5ed0ba;
    font-weight: 400;
    line-height: 20px;
}

.modal_login .modal_tt span{
    font-size: 12px;
    line-height: 12px;
}

.modal_login .modal_tt .u-link{
    color: #5ed0ba;
    cursor: pointer;
}

.modal_login .u-remember{
    font-size: 12px;
    line-height: 24px;
}
/* 小按钮通用CSS */
 .u-remember label{
    display: flex;
    line-height: 24px;
    align-items: center;
}

.u-icon{
    width: 16px;
    height: 13px;
    margin-right: 5px;
}

 .u-remember .u-icon-checkbox{
    background: url(../res/icon.png) no-repeat -337px -21px;
}

 .u-remember .u-icon-checkboxchecked{
    background: url(../res/icon.png) no-repeat -337px 0;
}

.u-checkbox input[type="checkbox"]{
    display: none;
}
.u-checkbox .u-icon-checkboxchecked{
    display: none;
}

.u-checkbox input[type="checkbox"]:checked~.u-icon-checkboxchecked{
    display: inline-block;
}
.u-checkbox input[type="checkbox"]:checked~.u-icon-checkbox{
    display: none;
}
/* --小按钮通用CSS */

.u-icon-error{
    background: url(../res/icon.png) no-repeat -337px -43px;
}

.modal_login button[type=submit]{
    width: 100%;
    margin-top: 10px;
}


/* 注册框 */
.modal_signin{
    padding: 30px 100px 40px 100px;
}

.modal_signin .m-form{
    width: 345px;
}

.modal_signin .m-form .u-formitem{
    width: 345px;
}

.modal_signin .m-form .formitem_ct{
    width: 266px;
}

.modal_signin .u-close{
    position: absolute;
    top: 5px;right: 5px;
    font-size: 16px;
    font-weight: 300px;
    color: #c0c0c1;
    cursor: pointer;
}

.modal_signin .logo{
    display: block;
    background: url(../res/icon.png) no-repeat 0 -20px;
    width: 220px;
    height: 51px;
}

.modal_signin .sex_box{
    display: flex;
    height: 100%;
}

.modal_signin .sex_box  label{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.modal_signin .sex_box input[type="radio"]{
    display: none;
}

.modal_signin .sex_box .u-icon{
    width: 16px;
    height: 13px;
    margin-right: 5px;
}

.modal_signin .sex_box .u-icon-radio{
    background: url(../res/icon.png) no-repeat -336px -162px;
}

.modal_signin .sex_box .u-icon-radiochecked{
    background: url(../res/icon.png) no-repeat -336px -144px;
}

.modal_signin .sex_box .u-icon-radiochecked{
    display: none;
}

.modal_signin .sex_box input[type="radio"]:checked~.u-icon-radio{
    display: none;
}

.modal_signin .sex_box input[type="radio"]:checked~.u-icon-radiochecked{
    display: inline-block;
}

.modal_signin .formitem_ct-captcha .u-ipt{
    float: left;
    height: 100%;
}

.modal_signin .formitem_ct-captcha #captchaimg{
    float: right;
    height: 100%;
    width: 94px;
    cursor: pointer;
}

/* .modal_signin .u-remember{
    line-height: 24px;
} */

.modal_signin button[type=submit]{
    width: 100%;
    margin-top: 10px;
}

.modal_signin .m-cascadeselect{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.modal_signin .m-cascadeselect .m-select{
    position: relative;
    width: 29%;
    cursor: pointer;
    height: 100%;
    text-indent: 10px;
}

.modal_signin .m-cascadeselect .select_hd{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #5ed0ba;
    border-radius: 4px;
    box-sizing: border-box;
    height: 100%;
}
.modal_signin .m-cascadeselect .u-icon-dropdown{
    width: 0;
    border: 8px solid #fff;
    border-top:8px solid #5ed0ba;
    margin: 8px 6px 0 0;
}

.modal_signin .m-cascadeselect .select_opt{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 120px;
    border: 1px solid #f4f4f4;
    background: #fff;
    overflow-y: auto;
    z-index: 90;
}


.modal_signin .select_opt li{
    line-height: 30px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.modal_signin .select_opt li:hover{
    background: #eee;
}

.modal_signin .select_opt .z-select{
    background: #eee;
}

/* 去除滚动条 */
.modal_signin .m-cascadeselect .select_opt {
    -ms-overflow-style:none;
    overflow:-moz-scrollbars-none;
}
.modal_signin .m-cascadeselect .select_opt::-webkit-scrollbar{width:0px}