/* banner */
.g-banner{
    position: relative;
    height:356px;
}

/* 图片样式 */
.g-banner .m-slider{
    position: relative;
    height: 100%;
    overflow: hidden;
}

.m-slider .slider_img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: opacity ease .5s;
}

.slider_img img{
    width: 1200px;
    height: 356px;
    
}

/* 控制器样式 */
.g-banner .m-cursor{
    position: absolute;
    left: 50%; transform: translateX(-50%);
    bottom: 14px;
    height: 20px;
    padding: 4px 20px 5px;
    border-radius: 20px;
    background: rgba(255,255,255,0.8);
    box-sizing: border-box;
}

.m-cursor li{
    display:inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
}

.m-cursor li+li{
    margin-left: 10px;
}

.m-cursor .z-active{
    background: #5ed0ba;
}





/* 主体 */
.g-body{
    width: 1080px;
    margin: 50px auto 0;
}

/* 主栏 */
.g-main{
    width: 760px;
    float: left;
}

/* 边栏 */
.g-side{
    width:295px;
    float: right;
}

/* 底部 */
.g-footer{
    width: 1080px;
    margin: 0 auto;
}